/* Corps de la page */
body {
  background-color: #09121d;  /* Couleur de fond très claire */
  font-family: Arial, sans-serif; /* Police lisible */
  color: #cfcfcf;  /* Couleur du texte par défaut */
  margin: 0;
  padding: 0;
}

/* Style du logo en haut de la page */
.header-logo {
  text-align: center;
  padding: 20px;
}

.header-logo img {
  width: 150px;  /* Taille du logo */
  height: auto;
}

/* Conteneur pour les boutons */
.button-container {
  display: flex;
  flex-direction: column;  /* Aligne les éléments verticalement */
  gap: 15px;  /* Espace entre les boutons */
  align-items: center;  /* Centre les boutons horizontalement */
  padding: 20px;  /* Un peu de marge autour */
}

/* Masquer le titre pour les écrans de largeur maximale de 768px */
@media (max-width: 768px) {
  .project-name {
    display: none;
  }
}

/* Style du footer */
.footer-menu {
  background-color: #09121d; /* même couleur que le fond du site */
  color: #cfcfcf;
  padding: 20px 0;
  text-align: center;
}

.footer-nav a {
  color: #cfcfcf; /* même couleur que le texte principal */
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #ff4c4c; /* effet de survol rouge pour cohérence */
}

/* Adaptation pour mobile */
@media (max-width: 768px) {
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}


/* Style des boutons */
.ad-button {
  background-color: #ff4c4c;  /* Couleur de fond rouge */
  color: white;  /* Texte en blanc */
  font-size: 16px;  /* Taille du texte */
  padding: 10px 20px;  /* Espacement interne des boutons */
  border-radius: 5px;  /* Coins arrondis */
  text-decoration: none;  /* Supprime le soulignement */
  text-align: center;  /* Centrer le texte dans le bouton */
  width: 200px;  /* Largeur fixe des boutons */
  transition: background-color 0.3s ease;  /* Animation de couleur au survol */
}

/* Effet au survol */
.ad-button:hover {
  background-color: #ff1a1a;  /* Changer la couleur au survol */
}

/*javascript*/
.clicked {
  transform: scale(0.95);
  transition: transform 0.1s;
}


/* Style pour les liens */
a {
  text-decoration: none;
  color: inherit;
}
