<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  
  <!-- Lien vers le favicon -->
  <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">

  <!-- Polices Google -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

</head>
<body>

  <header>
    <!-- Votre contenu de header -->
    <h1>Bienvenue sur mathieu</h1>
  </header>

  {{ content }}

</body>
</html>
